.selected{
    background-color: rgb(188, 226, 241);
}

/* form{
    padding-bottom: 3rem;
} */
h3{
    /* padding-bottom: 2rem; */
    padding-top: 3rem;
}

.reset{
    padding-top: 4rem;
}
#reset:hover {
    cursor: pointer;
    box-shadow: 0 0 1.4rem 0 rgba(240, 5, 5, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }